@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 16rem;
}

@media only screen and (max-width: 600px) {
  html {
    scroll-padding-top: 8rem;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.grid-cols-7-30 {
  grid-template-columns: repeat(7, 2rem);
}

.grid-cols-3-70 {
  grid-template-columns: repeat(3, 4.5rem);
}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 5px;
  margin: 0;
  border: none;
  padding: 1px 2px;
  border-radius: 0;
  background: #e5e5e5;
  box-shadow:
    inset 0 1px 0 0 #e5e5e5,
    inset 0 -1px 0 0 #e5e5e5;
  -webkit-box-shadow:
    inset 0 1px 0 0 #e5e5e5,
    inset 0 -1px 0 0 #e5e5e5;
  outline: none;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  background-color: #080087;
  border-radius: 100%;
  height: 1.2rem;
  width: 1.2rem;
}

.text-line-4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.text-line-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.text-line-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.text-line-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.overflow-custom::-webkit-scrollbar-track {
  @apply bg-blue-01 bg-opacity-10  rounded-sm;
}

.overflow-custom::-webkit-scrollbar {
  @apply bg-blue-01 bg-opacity-10 w-1 rounded-sm;
}

.overflow-custom::-webkit-scrollbar-thumb {
  @apply bg-blue-01 border-2 border-blue-01 rounded-sm;
}

.tabs {
  cursor: pointer;
  width: 100%;
  padding: 7px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  text-align: start;
}

.active-tabs::before {
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: rgba(88, 147, 241);
}
.content {
  padding: 10px;
  width: 100%;
  height: 100%;
  display: none;
}
.active-content {
  display: block;
}

.greyModal {
  opacity: 0.7;
  background-color: grey;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modalContent {
  opacity: 1;
  position: fixed;
  width: 75%;
  left: 50%;
  margin-left: -37.5%;
  height: 100px;
  background-color: white;
  border: solid 4px black;
  border-color: black;
}

.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.flip-card-transition {
  position: absolute;
  backface-visibility: hidden;
}

.wysiwsg-body p {
  margin-bottom: 1rem;
}

.accordion-content ul,
.accordion-content ol {
  @apply pl-5;
}

.accordion-content p {
  @apply mb-3 text-sm text-pretty font-light;
}

.accordion-content ul li,
.accordion-content ol li {
  @apply mb-3 text-sm text-pretty font-light relative pl-12;
}

.accordion-content ul li::before,
.accordion-content ol li::before {
  content: '';
  background-image: url('/web/wealth-management/images/icon-menu/ic-list-accordion.svg');
  background-size: cover;
  width: 22px;
  height: 20px;
  position: absolute;
  left: 0;
}

.field__label.visually-hidden {
  display: none;
}

.desc-list ul {
  @apply list-decimal pl-10;
}

.desc-list ul li {
  @apply text-pretty font-light;
}

.desc-list ol {
  @apply list-decimal pl-5;
}

.desc-list p {
  @apply mb-8;
}

.desc-list table p {
  @apply mb-0;
}

.desc-list table {
  @apply w-full mb-3;
}
.desc-list table tr td {
  @apply p-2 border border-solid border-[#eeeeee];
}

.parsehtml h1,
.parsehtml h2,
.parsehtml h3,
.parsehtml h4,
.parsehtml h5,
.parsehtml h6 {
  @apply mb-3;
}
.parsehtml h4,
.parsehtml h5,
.parsehtml h6 {
  @apply font-semibold;
}
.parsehtml h2 {
  @apply text-2xl;
}

.parsehtml h3 {
  @apply text-xl;
}

.parsehtml h4 {
  @apply text-lg;
}
.parsehtml h5 {
  @apply text-base;
}
.parsehtml h5 {
  @apply text-sm;
}

.parsehtml a {
  @apply text-blue-01;
}
.parsehtml p {
  @apply text-sm mb-3;
}
.parsehtml ul,
.parsehtml ol {
  @apply text-sm mb-3 pl-10 font-normal list-disc;
}

.parsehtml ul li,
.parsehtml ol li {
  @apply my-0;
}

.parsehtml .text-align-justify {
  @apply text-justify;
}

.parsehtml .text-align-right {
  @apply text-right;
}
.parsehtml .text-align-center {
  @apply text-center;
}

.parsehtml blockquote {
  @apply border-l border-blue-01 my-3 pl-3 mb-3 py-3;
}
.parsehtml table {
  @apply w-full mb-3 border border-black;
}
.parsehtml table tr td {
  @apply p-1 border border-black;
}
